<section class="contact" >
  <article class="panel contact-panel" id="contact">
    <h2 class="panel-title" id="contact-title">Contact</h2>
    <p>
      <span class="label">Email : </span>
      <a href="mailto:rayan.zouaoui92@gmail.com">rayan.zouaoui92@gmail.com</a>
    </p>
    <p>
      <span class="label">Téléphone : </span>
      <a href="tel:+33670443933">06 70 44 39 33</a>
    </p>
    <p>
      <span class="label">LinkedIn :</span>
      <a
        href="https://www.linkedin.com/in/rayan-zouaoui-it-paris/"
        target="_blank"
        rel="noopener noreferrer"
      >
        linkedin.com/in/rayan-zouaoui-it-paris
      </a>
    </p>

    <p>
      <span class="label">Portfolio :</span>
      <a href="https://rayan-zouaoui.netlify.app" target="_blank" rel="noopener noreferrer" >  rayan-zouaoui.netlify.app   </a>
    </p>

    <p>
      <span class="label">Github :</span>
      <a href="https://github.com/faust332" target="_blank" rel="noopener noreferrer" >  github.com/faust332 </a>
    </p>
    
    <p>
      <span class="label">Localisation :</span>
      Brunoy — Mobilité Île-de-France
    </p>
  </article>
</section>
